@model CapstoneProject.ViewModels.DocumentFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Document</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Document.DocumentID" />
            <div class="form-group">
                <label asp-for="Document.DocumentTypeID" class="control-label"></label>
                <select asp-for="Document.DocumentTypeID"
                        asp-items="@Model.DocumentTypes"
                        class="form-control">
                    <option disabled selected hidden>Select Document Type</option>
                </select>
                <span asp-validation-for="Document.DocumentTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document.LlcID" class="control-label"></label>
                <select asp-for="Document.LlcID"
                        asp-items="@Model.Llcs"
                        class="form-control">
                    <option disabled selected hidden>Select LLC</option>
                </select>
                <span asp-validation-for="Document.LlcID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document.CniPosRequestorUserID" class="control-label"></label>
                <select asp-for="Document.CniPosRequestorUserID"
                        asp-items="@Model.CniPosRequestorUserId"
                        class="form-control">
                    <option disabled selected hidden>Select POS Requestor</option>
                </select>
                <span asp-validation-for="Document.CniPosRequestorUserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document.CniContractNumber" class="control-label"></label>
                <input asp-for="Document.CniContractNumber" class="form-control" />
                <span asp-validation-for="Document.CniContractNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document.ThirdParty" class="control-label"></label>
                <input asp-for="Document.ThirdParty" class="form-control" />
                <span asp-validation-for="Document.ThirdParty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document.VersionNumber" class="control-label"></label>
                <input asp-for="Document.VersionNumber" class="form-control" />
                <span asp-validation-for="Document.VersionNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document.DocumentStatusID" class="control-label"></label>
                <select asp-for="Document.DocumentStatusID"
                        asp-items="@Model.DocumentStatuses"
                        class="form-control">
                    <option disabled selected hidden>Select Document Status</option>
                </select>
                <span asp-validation-for="Document.DocumentStatusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document.DraftedByUserID" class="control-label"></label>
                <input asp-for="Document.DraftedByUserID" class="form-control" />
                <span asp-validation-for="Document.DraftedByUserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document.DateLastUpdated" class="control-label"></label>
                <input asp-for="Document.DateLastUpdated" class="form-control" />
                <span asp-validation-for="Document.DateLastUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document.LinkToDocument" class="control-label"></label>
                <input asp-for="Document.LinkToDocument" class="form-control" />
                <span asp-validation-for="Document.LinkToDocument" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
