@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    font-family: Arial, Arial, sans-serif;
    font-size: 14px;
    position: relative;
    min-height: 100%;
    padding-right: 500px;
}

body {
    font-family: Arial, Arial, sans-serif;
    margin-bottom: 60px;
}

table {
    font-family: Arial, Arial, sans-serif;
}

td {
    padding-right: 150px;
    white-space: nowrap;
}