@model CapstoneProject.ViewModels.UserLlcViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User-LLC</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserLlc.UserLlcId" />
            <div class="form-group">
                <label asp-for="UserLlc.UserId" class="control-label"></label>
                <select asp-for="UserLlc.UserId"
                        asp-items="@Model.Users"
                        class="form-control">
                    <option disabled selected hidden>Select User by Email</option>
                </select>
                <span asp-validation-for="UserLlc.UserLlcId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserLlc.LlcId" class="control-label"></label>
                <select asp-for="UserLlc.LlcId"
                        asp-items="@Model.Llcs"
                        class="form-control">
                    <option disabled selected hidden>Select LLC</option>
                </select>
                <span asp-validation-for="UserLlc.UserLlcId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
